#animation{
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
#animation.play{
    opacity: 1;
}
.navbar{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1.2%;
}
.logo{
    height: 2.5vh;
}
.links{
    float: right;
}
.links a{
    text-transform: uppercase;
    margin-left: 2vw;
    text-decoration: none;
}
#active{
    color: #6C63FF;
}
.title{
    display: inline-block;
    font-weight: 500;
    font-size: 2.2vh;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2.2vh;
    margin: 0;
    margin-left: -5vw;
}
.content{
    margin-top: 2%;
}
.text_box{
    margin-top: 40%;
}
.main_text{
    font-weight: 500;
    font-size: 7.1vh;
    text-transform: uppercase;
    line-height: 7.1vh;
    margin-bottom: 3%;
}
.mt_webstranky{
    font-weight: 500;
    font-size: 4.5vh;
    text-transform: uppercase;
    line-height: 6.5vh;
    margin-bottom: 10%;
    width: 40vw;
}
.sub_text{
    font-size: 3vh;
    text-transform: uppercase;
    line-height: 4vh;
    margin-bottom: 9%;
    color: #6C63FF;
    overflow: hidden;
    border-right: .1em solid #3F3D56;
    white-space: nowrap;
    max-width: 30ch;
    animation: 
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
}
.des_text{
    font-size: 2.3vh;
    line-height: 4vh;
}
.mainlist{
    margin: 0 auto;
    max-width: 68vw;
    margin-top: 10%;
    margin-bottom: 7%;
    text-align: center;
}
.ml_main{
    font-weight: 500;
    font-size: 1.8vh;
    text-transform: uppercase;
    line-height: 1.9vh;
    margin-bottom: 2.5vh;
    text-align: left;
    padding-top: 5vh;
}
.ml_text{
    font-size: 1.6vh;
    line-height: 3vh;
    max-width: 20vw;
    text-align: left;
}
.ml_img{
    height: 24vh;
}
.ml_box{
    margin-bottom: 10%;   
}
.to_right{
    padding-left: 20vw;
}
.hostaweb{
    margin-top: 7%;
    margin-bottom: 7%;
}
.dsg_img{
    height: 58vh;
    width: 35vw;
    margin-left: 2vw;
}
.grl_img{
    height: 16vh;
    width: 12vw;
    float: left;
    padding-top: 50%;
    margin-left: 2vw;
    padding-bottom: 20%;
}
.boy_img{
    height: 26vh;
    width: 10vw;
    float: right;
    padding-top: 20%;
    margin-right: 2vw;
}
.htw_hr{
    border: 2px solid #6C63FF;
    width: 9vw;
    margin-bottom: 1.6vh;
}
.left{
    float: left;
    text-align: left;
}
.right{
    float: right;
    text-align: right;
}
.htw_main{
    font-weight: 500;
    font-size: 1.8vh;
    text-transform: uppercase;
    line-height: 1.9vh;
    margin-bottom: 1vh;
}
.htw_text{
    font-size: 1.6vh;
    line-height: 2.5vh;
}
.fix1{
    margin-top: 5vh;
    margin-left: -9.2vw;
}
.fix2{
    padding-top: 2.7vh;
}
.main_contact{
    margin: 0 auto;
    max-width: 68vw;
    margin-top: 10%;
    text-align: center;
}
.cnt_img{
    height: 26vh;
    width: 55vw;
}
.text_box ul{
    font-size: 2vh;
    line-height: 4vh;
    margin-left: 25px;
}
.text_box li{
    padding-left: 15px;
    list-style-image: url('../images/bullet.svg');
}
.main_img{
    height: 71vh;
    margin-top: 3%;
    width: 45vw;
    margin-left: 2vw;
}
.mi_webstranky{
    height: 65vh;
    margin-top: 10%;
    width: 45vw;
    margin-left: 2vw;
}
.moreinfo{
    margin-top: 4%;
    margin-right: 5px;
    display: inline-block;
    font-size: 1.6vh;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
@keyframes typing{
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret{
    from, to { border-color: transparent }
    50% { border-color: #3F3D56; }
}
.footer{
    margin-top: 10%;
}
.footer_links{
    float: right;
}
.footer_end{
    margin-bottom: 2vh;
}
.ft_main_text{
    font-weight: 500;
    font-size: 1.7vh;
    text-transform: uppercase;
    line-height: 1.9vh;
    margin-bottom: 2.5vh;
    color: #6C63FF;
}
.ft_text{
    font-size: 1.6vh;
    line-height: 1vh;
    text-decoration: none;
}
.ft_copy_text{
    font-size: 1.6vh;
    line-height: 2.3vh;
    text-decoration: none;
    margin-left: -10vw;
    text-transform: uppercase;
}
.main_footer{
    margin-bottom: 7vh;
}
.ft_title{
    display: inline-block;
    font-weight: 500;
    font-size: 2.2vh;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2.2vh;
    margin: 0;
    margin-left: -4.2vw;
}
.ft_image{
    margin-right: 4px;
    height: 3vh;
    margin-top: -3px;
}
.ft_image:hover{
    filter: invert(41%) sepia(66%) saturate(3605%) hue-rotate(227deg) brightness(100%) contrast(103%);
}
.infotab{
    margin-top: 10%;
    text-align: center;
}
.info_main{
    font-weight: 500;
    font-size: 1.8vh;
    text-transform: uppercase;
    line-height: 1.9vh;
    margin-bottom: 2.5vh;
}
.info_sub{
    font-size: 1.6vh;
    line-height: 3vh;
    text-decoration: none;
    max-width: 22vw;
    margin-left: 1vw;
}
.info_img{
    margin-bottom: 3vh;
    height: 10.8vh;
    width: 16.7vw;
}
.choose_text,.themes_text{
    font-weight: 500;
    font-size: 2.5vh;
    text-transform: uppercase;
    line-height: 2vh;
    margin-bottom: 3.5vh;
    margin-top: 7%;
}
.themes_text{
    margin-top: 5%;
}
.themes{
    height: 37vh;
    width: 62vw;
}
.card{
    margin-top: 10%;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    border-radius: 4vh;
    padding: 3.5vh;
    text-align: center;
    min-width: 12.5vw;
    display: inline-block;
}
.card:hover{
    box-shadow: 0 0 40px rgba(0,0,0,0.16);
    transform: 2s;
}
.c_main{
    font-weight: 500;
    font-size: 2.5vh;
    text-transform: uppercase;
    line-height: 2vh;
    margin-bottom: 2vh;
}
.c_sub{
    font-size: 1.8vh;
    line-height: 2vh;
    margin-bottom: 5vh;
}
.c_list{
    font-size: 1.6vh;
    text-transform: uppercase;
    line-height: 1vh;
}
.c_price{
    font-weight: 500;
    font-size: 2.5vh;
    text-transform: uppercase;
    line-height: 2vh;
    margin-bottom: 4vh;
    margin-top: 5vh;
}
.c_button{
    border-radius: 999px;
    background-color: #6C63FF;
    color: #fff;
    padding: 6px 18px 6px 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6vh;
    line-height: 1.6vh;
    border: 1px solid #6C63FF;
    transition: 0.3s;
}
.c_button:hover{
    color: #6C63FF;
    background-color: #fff;
    border: 1px solid #6C63FF;
    transition: 0.3s;
}
.c_info{
    margin-top: 3.5vh;
    font-weight: 500;
    font-size: 1.6vh;
    text-transform: uppercase;
    line-height: 1.6vh;
    display: block;
}
.dph_text{
    margin-top: 3%;
    margin-bottom: 7%;
    font-size: 1.2vh;
    line-height: 1.2vh;
}
.decor1{
    width: 5vw;
    height: 7vh;
    position: absolute;
    margin-left: -4.75vw;
    margin-top: 32vh;
}
.decor2{
    width: 6vw;
    height: 20vh;
    position: absolute;
    margin-left: -1.7vw;
}
.mt_hosting{
    font-weight: 500;
    font-size: 4.5vh;
    text-transform: uppercase;
    line-height: 6.5vh;
    margin-bottom: 10%;
    width: 40vw;
}
.des_hosting{
    font-size: 2vh;
    line-height: 4vh;
    max-width: 24vw;
}
.mi_hosting{
    height: 49vh;
    margin-top: 15%;
    width: 52vw;
    margin-left: -7vw;
    margin-bottom: 13.5%;
}
.hosttab{
    margin-top: 10%;
}
.ssd_img{
    float: left;
    height: 20vh;
    width: 13vw;
}
.secure_img{
    float: left;
    height: 19vh;
    width: 13vw;
}
.backup_img{
    float: left;
    height: 18vh;
    width: 13vw;
}
.grow_img{
    float: left;
    height: 18vh;
    width: 13vw;
}
.supp_img{
    float: left;
    height: 20vh;
    width: 13vw;
}
.bonus_img{
    float: left;
    height: 20vh;
    width: 13vw;
}
.ht_main{
    font-weight: 500;
    font-size: 1.8vh;
    text-transform: uppercase;
    line-height: 1.9vh;
    margin-bottom: 2.5vh;
    text-align: left;
    padding-top: 2vh;
    display: inline-block;
    margin-left: 3vw;
}
.ht_text{
    font-size: 1.6vh;
    line-height: 3vh;
    max-width: 19vw;
    text-align: left;
    display: inline-block;
    margin-left: 3vw;
}
.ht_margin{
    padding-bottom: 5%;
}
.ht_margin2{
    padding-bottom: 7%;
}
.contacttab{
    margin: 0 auto;
    max-width: 68vw;
}
.contact_main{
    font-weight: 500;
    font-size: 4.5vh;
    text-transform: uppercase;
    line-height: 5.5vh;
    margin-top: 7%;
}
.ct_margin{
    margin-top: 5%;
}
.company{
    font-weight: 500;
    font-size: 2vh;
    line-height: 2vh;
    margin-bottom: 2.5vh;
    text-align: left;
}
.ct_text{
    font-size: 2vh;
    line-height: 3vh;
    max-width: 40vw;
    display: inline-block;
}
.ct_img{
    display: inline-block;
    margin-right: 1vw;
    margin-bottom: -1.25vh;
    height: 3.7vh;
}
.ct_mini{
    font-size: 1.2vh;
    line-height: 2vh;
    max-width: 30vw;
}
.bank1,.bank2{
    width: 49%;
    margin-top: 5%;
    margin-bottom: 3%;
    display: inline-block;
}
.bk_bold{
    font-weight: 500;
    font-size: 1.6vh;
    line-height: 2vh;
    margin: 0;
    display: inline-block;
}
.bk_text{
    font-size: 1.6vh;
    line-height: 2vh;
    margin: 0;
    display: inline-block;
}
.moveup{
    margin-bottom: -5%;
}
.ct_main{
    font-weight: 500;
    font-size: 2vh;
    line-height: 2vh;
    margin-bottom: 2.5vh;
    text-align: left;
    text-transform: uppercase;
}
.fm_mini{
    font-size: 1.2vh;
    line-height: 2vh;
    max-width: 20vw;
    margin-top: 0.5vh;
}
.fm_link{
    font-size: 1.2vh;
    line-height: 2vh;
    color: #6C63FF;
    text-decoration: none;
}
.fm_link:hover{
    text-decoration: underline;
}